<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.sales.TicketMapper">

    <insert id="insertTicket" parameterType="com.example.cinema.po.Ticket"
            useGeneratedKeys="true" keyProperty="id">
        insert into ticket(user_id,schedule_id,column_index,row_index,state)
        values(#{userId}, #{scheduleId},#{columnIndex},#{rowIndex},#{state})
    </insert>

    <insert id="insertTickets" parameterType="java.util.List"
            useGeneratedKeys="true" keyProperty="id">
        insert into ticket(user_id,schedule_id,column_index,row_index,state)
        values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (#{item.userId}, #{item.scheduleId},#{item.columnIndex},#{item.rowIndex},#{item.state})
        </foreach>
    </insert>

    <select id="selectTicketById" resultMap="Ticket">
        select * from ticket where id=#{id}
    </select>

    <select id="selectTicketsBySchedule" resultMap="Ticket">
        select * from ticket where schedule_id=#{scheduleId} and state!=2
    </select>

    <select id="selectTicketByScheduleIdAndSeat" resultMap="Ticket">
        select * from ticket where schedule_id=#{scheduleId} and column_index=#{column} and row_index=#{row} and
        state!=2
    </select>

    <select id="selectTicketByUser" resultMap="Ticket">
        select * from ticket where user_id=#{userId}
        order by time desc
    </select>

    <update id="updateTicketState">
        update ticket set state = #{state} where id=#{ticketId}
    </update>

    <delete id="deleteTicket">
        delete from ticket where id=#{ticketId}
    </delete>

    <resultMap id="Ticket" type="com.example.cinema.po.Ticket">
        <result column="schedule_id" property="scheduleId"></result>
        <result column="id" property="id"></result>
        <result column="user_id" property="userId"></result>
        <result column="column_index" property="columnIndex"></result>
        <result column="row_index" property="rowIndex"></result>
        <result column="state" property="state"></result>
        <result column="time" property="time"></result>
    </resultMap>

    <insert id="insertTicketRefund" parameterType="com.example.cinema.po.TicketRefund"
            useGeneratedKeys="true" keyProperty="id">
        insert into ticket_refund(rate,limit_hours)
        values(#{rate},#{limitHours})
    </insert>

    <update id="updateTicketRefund">
        update ticket_refund set rate = #{rate},limit_hours = #{limitHours}
    </update>

    <select id="selectRefundInfo" resultMap="TicketRefund">
        select * from ticket_refund
    </select>

    <resultMap id="TicketRefund" type="com.example.cinema.po.TicketRefund">
        <result column="rate" property="rate"></result>
        <result column="limit_hours" property="limitHours"></result>
    </resultMap>

    <insert id="insertTicketOrder">
        <selectKey keyProperty="orderId" order="BEFORE" resultType="java.lang.Integer">
            SELECT max(order_id) + 1 FROM ticket_order
        </selectKey>
        insert into ticket_order(order_id,ticket_id,coupon_id)
        values
        <foreach collection="ticketList" item="item" index="index"
                 separator=",">
            (#{orderId}, #{item.id}, #{couponId})
        </foreach>
    </insert>

    <update id="updateTicketOrder">
        update ticket_order tor
        left join ticket t
        on t.id=tor.ticket_id
        set tor.coupon_id = #{couponId}
        where t.id = #{ticketId}
    </update>

    <select id="selectTicketOrdersByUserId" resultMap="TicketOrder">
        select *
        from
        ticket_order tor
        right join
        ticket t
        on
        t.id = tor.ticket_id
        where t.user_id = #{userId}  and t.state!=2
        order by t.time desc
    </select>

    <select id="selectTicketOrderById" resultMap="TicketOrder">
        select *
        from
        ticket_order tor
        right join
        ticket t
        on
        t.id = tor.ticket_id
        where tor.order_id = #{orderId}
    </select>

    <resultMap id="TicketOrder" type="com.example.cinema.po.TicketOrder">
        <result column="order_id" property="orderId"></result>
        <result column="coupon_id" property="couponId"></result>
        <collection property="ticketList" resultMap="Ticket">

        </collection>
    </resultMap>

    <update id="cleanExpiredTicket">
        update ticket t
        right join schedule s
        on s.id = t.schedule_id
        SET state =2
        WHERE (UNIX_TIMESTAMP(NOW())-UNIX_TIMESTAMP(t.time)>900 and state=0)
        or UNIX_TIMESTAMP(NOW()) > UNIX_TIMESTAMP(s.end_time)
    </update>

</mapper>