<!DOCTYPE html>
<!--发布会员卡，修改会员卡-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员管理</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/adminMember.css"/>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/adminMemberManage.js"></script>

</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title">Admin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/admin/movie/manage"><i class="icon-film"></i> 电影管理</a></li>
            <li role="presentation"><a href="/admin/session/manage"><i class="icon-calendar"></i> 排片管理</a></li>
<!--            <li role="presentation" class="active"><a href="#"><i class="icon-gift"></i> 策略管理</a></li>-->
            <li role="presentation" class="active">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-gift"></i>
                    策略管理<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation">
                        <a href="/admin/promotion/manage">活动管理</a>
                    </li>
                    <li role="presentation" class="active">
                        <a href="#">会员卡管理</a>
                    </li>
                    <li role="presentation">
                        <a href="/admin/ticket/manage">退票策略管理</a>
                    </li>
                </ul>
            </li>
            <li role="presentation"><a href="/admin/cinema/manage"><i class="icon-cogs"></i> 影院管理</a></li>
            <li role="presentation"><a href="/admin/coupon/manage"><i class="icon-credit-card"></i> 影券管理</a></li>
            <li role="presentation"><a href="/admin/cinema/statistic"><i class="icon-bar-chart"></i> 影院统计</a></li>
            <li role="presentation"><a href="/admin/account/manage"><i class="icon-user"></i> 账户管理</a></li>
        </ul>
    </div>

    <div class="content-container">
        <div class="content-header">
<!--            <ul class="nav nav-pills">-->
<!--                <li role="presentation">-->
<!--                    <a href="/admin/promotion/manage">活动管理</a>-->
<!--                </li>-->
<!--                <li role="presentation" class="active">-->
<!--                    <a href="#">会员卡管理</a>-->
<!--                </li>-->
<!--                <li role="presentation">-->
<!--                    <a href="/admin/ticket/manage">退票策略管理</a>-->
<!--                </li>-->
<!--            </ul>-->
            <!--按下按钮后弹出表单-->
            <button id="VIPCard-btn" type="button" class="btn btn-primary" data-backdrop="static" data-toggle="modal" data-target="#VIPCardModal"><i class="icon-edit"></i> 修改会员卡</button>
        </div>
        <!--里面已发布的会员卡的优惠策略-->
        <div class="VIPCardInfo-container">
            <h3 class="gray-text">当前会员卡优惠策略</h3>
            <div class="VIPCardInfo-card card">
                <div class="card col-md-8 col-md-offset-2" id="member-card" >
                    <div class="header">
                        <div class="name">会员卡</div>
                    </div>
                    <div class="Info-container">
                        <div>会员卡价格:<b id="VIPCard-price" class="price"></b>元。</div>
                        <div>充值满<b id="VIPCard-target" class="price"></b>送<b id="VIPCard-discount" class="price"></b>。</div>
                    </div>

                    <!--                    <div class="line">-->
<!--                        <div>优惠信息</div>-->
<!--                        <hr/>-->
<!--                    </div>-->
<!--&lt;!&ndash;                <h4 class="price"><span id="VIPCard-price"></span>元/张</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                <h4 id="VIPCard-description" class="description"></h4>&ndash;&gt;-->
<!--                    <div class="info">-->
<!--                        <div class="content">-->
<!--                            <div class="line">-->
<!--                                <div><b>金额：</b></div>-->
<!--                                <div id="VIPCard-price"></div>-->
<!--                            </div>-->
<!--                            <div class="line">-->
<!--                                <div><b>描述：</b></div>-->
<!--                                <div id="VIPCard-description" class="description"></div>-->
<!--                            </div>-->

<!--                            <hr/>-->
<!--                        </div>-->
<!--                    </div>-->
            </div>
        </div>
    </div>
</div>
<!--修改会员卡的表单-->
<div class="modal fade" id="VIPCardModal" tabindex="-1" role="dialog" aria-labelledby="VIPModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="memberCardModalLabel">修改会员卡优惠策略</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="VIPCard-pribelinput"><span class="error-text">*</span>原卡价格</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="VIPCard-price-input" placeholder="请输入会员卡价格">
                        </div>
                        <p id="VIPCard-price-error" class="notice">请输入非负整数或者非负小数</p>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="VIPCard-target-input"><span class="error-text">*</span>满足金额</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="VIPCard-target-input" placeholder="请输入满足金额">
                        </div>
                        <p id="VIPCard-target-error" class="notice">请输入非负整数或者非负小数</p>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="VIPCard-discount-input"><span class="error-text">*</span>优惠金额</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="VIPCard-discount-input" placeholder="请输入优惠金额">
                        </div>
                        <p id="VIPCard-discount-error" class="notice">请输入非负整数或者非负小数</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="VIPCard-form-btn">确认</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>