<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>优惠券管理</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/green.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/adminCoupons.js"></script>
</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title">Admin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/admin/movie/manage"><i class="icon-film"></i> 电影管理</a></li>
            <li role="presentation"><a href="/admin/session/manage"><i class="icon-calendar"></i> 排片管理</a></li>
<!--            <li role="presentation"><a href="/admin/promotion/manage"><i class="icon-gift"></i> 策略管理</a></li>-->
            <li role="presentation">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-gift"></i>
                    策略管理<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation">
                        <a href="/admin/promotion/manage">活动管理</a>
                    </li>
                    <li role="presentation">
                        <a href="/admin/member/manage">会员卡管理</a>
                    </li>
                    <li role="presentation">
                        <a href="/admin/ticket/manage">退票策略管理</a>
                    </li>
                </ul>
            </li>
            <li role="presentation"><a href="/admin/cinema/manage"><i class="icon-cogs"></i> 影院管理</a></li>
            <li role="presentation" class="active"><a href="#"><i class="icon-credit-card"></i> 影券管理</a></li>
            <li role="presentation"><a href="/admin/cinema/statistic"><i class="icon-bar-chart"></i> 影院统计</a></li>
            <li role="presentation"><a href="/admin/account/manage"><i class="icon-user"></i> 账户管理</a></li>
        </ul>
    </div>
    <div class="content-container">
        <div class="content-item">
            <span class="title gray-text">无门槛优惠券金额</span>
            <div class="content-card card">
                <span class="">优惠金额：</span><span id="send-num"></span>
                <a style="margin-left: 20px;" class="primary-text" id="send-modify-btn">修改</a>
                <input type="number" class="form-control" id="send-set-input" style="display: none;width: 200px;">
                <a style="display: none" class="primary-text" id="send-confirm-btn">确认</a>
            </div>
        </div>
        <div class="content-item">
            <span class="title gray-text">筛选用户条件</span>
            <div class="content-card card">
                <span class="">最低金额：</span><span id="buy-num"></span>
                <a style="margin-left: 20px;" class="primary-text" id="buy-modify-btn">修改</a>
                <input type="number" class="form-control" id="buy-set-input" style="display: none;width: 200px;">
                <a style="display: none" class="primary-text" id="buy-confirm-btn">确认</a>
            </div>
        </div>
        <div class="content-item">
            <span class="title gray-text">用户</span>
            <table id ="myTable" class="table table-striped table-bordered">
                <!--表格标题-->
                <thead>
                <tr>
                    <th>用户id</th>
                    <th>用户名</th>
<!--                    <th><div><input type='checkbox' id="allOptionId" value="all">选择</div>-->
                    <th>选择</th>
                    </th>
                </tr>
                </thead>

                <!--表格内容-->
                <tbody>
                <!--<tr></tr>里是一行的内容-->
                </tbody>
            </table>
            <button class="btn btn-primary" onclick="sendConfirmClick()">
                确认赠送
            </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>