
<!DOCTYPE html>
<!--发布、修改退票策略-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>退票策略管理</title>

    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/adminTicket.css"/>


    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/adminTicketManage.js"></script>
</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title">Admin</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/admin/movie/manage"><i class="icon-film"></i> 电影管理</a></li>
            <li role="presentation"><a href="/admin/session/manage"><i class="icon-calendar"></i> 排片管理</a></li>
<!--            <li role="presentation" class="active"><a href="#"><i class="icon-gift"></i> 策略管理</a></li>-->
            <li role="presentation" class="active">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-gift"></i>
                    策略管理<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation">
                        <a href="/admin/promotion/manage">活动管理</a>
                    </li>
                    <li role="presentation">
                        <a href="/admin/member/manage">会员卡管理</a>
                    </li>
                    <li role="presentation" class="active">
                        <a href="#">退票策略管理</a>
                    </li>
                </ul>
            </li>
            <li role="presentation"><a href="/admin/cinema/manage"><i class="icon-cogs"></i> 影院管理</a></li>
            <li role="presentation"><a href="/admin/coupon/manage"><i class="icon-credit-card"></i> 影券管理</a></li>
            <li role="presentation"><a href="/admin/cinema/statistic"><i class="icon-bar-chart"></i> 影院统计</a></li>
            <li role="presentation"><a href="/admin/account/manage"><i class="icon-user"></i> 账户管理</a></li>
        </ul>
    </div>

    <div class="content-container">
        <div class="content-header">
<!--            <ul class="nav nav-pills">-->
<!--                <li role="presentation">-->
<!--                    <a href="/admin/promotion/manage">活动管理</a>-->
<!--                </li>-->
<!--                <li role="presentation">-->
<!--                    <a href="/admin/member/manage">会员卡管理</a>-->
<!--                </li>-->
<!--                <li role="presentation" class="active">-->
<!--                    <a href="#">退票策略管理</a>-->
<!--                </li>-->
<!--            </ul>-->

            <!--按下按钮后弹出表单-->

            <button type="button" class="btn btn-primary" data-backdrop="static" data-toggle="modal" data-target="#ticketRefundModal"><i class="icon-edit"></i> 修改退票策略</button>
        </div>
        <!--下面是退票策略-->
        <div class="TicketRefund-container">
            <h3 class="gray-text">当前退票策略</h3>
            <div class="TicketRefund-card">
<!--                <div class="icon-time">在电影放映<b id="limitHours"></b>个小时前可以退票。</div>-->
<!--                <br>-->
<!--                <div class="icon-money">手续费所占实付款比例为<b id="refundRate"></b></div>-->
                <div class="card col-md-8 col-md-offset-2" id="member-card" >
                    <div class="header">
                        <div class="name">退票策略</div>
                    </div>
                    <div class="Info-container">
                        <div>在电影放映<b id="limitHours" class="price"></b>个小时前可以退票。</div>
                        <div>手续费所占实付款比例为<b id="refundRate" class="price"></b>。</div>
                        <div>若用户使用优惠券买票，退票时不予归还优惠券。</div>
                        <div>若用户通过售票员买票，不能够进行退票。</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ticketRefundModal" tabindex="-1" role="dialog" aria-labelledby="movieModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ticketRefundModalLabel">修改退票策略</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="refund-limit-input"><span class="error-text">*</span>限制时间</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="refund-limit-input" placeholder="请输入限制时间">
                        </div>
                        <p id="refund-limit-error" class="notice">请正确输入非负整数</p>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="refund-rate-input"><span class="error-text">*</span>收费比例</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="refund-rate-input" placeholder="请输入收费比例">
                        </div>
                        <p id="refund-rate-error" class="notice">请正确输入0到1之间的小数</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="ticketRefund-form-btn">确认</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
