<!DOCTYPE html>
<html lang="en">
<!--用户的首页界面-->
<head>
    <meta charset="UTF-8">
    <title>电影</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userHome.css"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/userHome.js"></script>

</head>
<body>
    <div class="nav-top-container">
        <div class="nav-logo title">NJU-Se电影购票系统</div>
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">首页</a></li>
            <li role="presentation"><a href="/user/movie">电影</a></li>
        </ul>
        <div class="btn-group">
            <button class="nav-user-container btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="avatar-sm" src="/images/defaultAvatar.jpg" />
                <span class="gray-text" style="vertical-align: middle">用户A&nbsp;<span class="caret"></span></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/user/buy">电影票</a></li>
                <li><a href="/user/member">卡包</a></li>
                <li><a href="/user/buyHistory">历史记录</a></li>
                <li id="logout"><a href="#">登出</a></li>
            </ul>
        </div>
    </div>

    <!-- 可能不需要的功能 -->

    <div class="content-container">
        <div class="movie-contianer">
<!--        <p class="title primary-text">热映电影</p>-->
        <div class="movie-on-list">


            <div id="myCarousel" class="carousel slide">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="/user/movieDetail?id=11">
                            <img src="/images/img.jpg" alt="First slide">
                            <div class="carousel-caption">
                                <span class="bottom">惊奇队长</span>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="/user/movieDetail?id=16">
                            <img src="/images/timg.jpg" alt="Second slide">
                            <div class="carousel-caption">
                                <span class="bottom">比悲伤更悲伤的故事</span>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="/user/movieDetail?id=10">
                            <img src="/images/xiamu.jpg" alt="Third slide">
                            <div class="carousel-caption">
                                <span class="bottom">夏目友人帐</span>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="icon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="icon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


        </div>


        <p class="title primary-text">即将上映</p>
        <div class="movie-on-list card">

            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="/images/dun.jpg"
                             alt="通用的占位符缩略图" class="movie-img">
                        <div class="caption">
                            <h3>盾和冬</h3>
                            <p>美国队长史蒂夫和他的好朋友冬日战士</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="/images/iron.jpg"
                             alt="通用的占位符缩略图" class="movie-img">
                        <div class="caption">
                            <h3>钢铁侠3</h3>
                            <p>故事时间发生在《复仇者联盟》纽约大战结束之后，讲述了托尼·斯塔克的生活被强敌毁灭殆尽</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="/images/thor.jpg"
                             alt="通用的占位符缩略图" class="movie-img">
                        <div class="caption">
                            <h3>雷神索尔</h3>
                            <p>被放逐到地球的索尔·奥丁森学习如何成为一个真正英雄的故事。</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <img src="/images/caption.jpg"
                             alt="通用的占位符缩略图" class="movie-img">
                        <div class="caption">
                            <h3>美国队长</h3>
                            <p>后来在二战尾声的一次行动中，美国队长与宿敌红骷髅展开激战，并掉入大海之中被冰封近70年</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>


        <div class="statistic-container">
            <p class="title primary-text">票房统计</p>
                <ul class="top-sell-list card" id="boxingOffice">
                </ul>

            <p class="title primary-text">最受欢迎</p>
        <ul class="top-expectation-list card" id="popularMovie">
        </ul>
        </div>
    </div>
</body>
</html>