<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购买历史</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <!-- font-asesome图标库 -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userBuyHistory.css"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/userBuyHistory.js"></script>
</head>
<body>
    <div class="nav-top-container">
        <div class="nav-logo title">NJU-Se电影购票系统</div>
        <ul class="nav nav-pills">
            <li role="presentation"><a href="/user/home">首页</a></li>
            <li role="presentation"><a href="/user/movie">电影</a></li>
        </ul>
        <div class="btn-group">
            <button class="nav-user-container btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="avatar-sm" src="/images/defaultAvatar.jpg" />
                <span class="gray-text" style="vertical-align: middle">用户A&nbsp;<span class="caret"></span></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/user/buy">电影票</a></li>
                <li><a href="/user/member">卡包</a></li>
                <li><a href="#">历史记录</a></li>
                <li id="logout"><a href="#">登出</a></li>
            </ul>
        </div>
    </div>
    <ul class="nav nav-tabs" id="history-choice">
        <li role="presentation" class="active"><a href="#"><span class="icon-shopping-cart" aria-hidden="true"></span> 购买</a></li>
        <li role="presentation"><a href="/user/chargeHistory"><span class="icon-yen" aria-hidden="true"></span> 充值</a></li>
    </ul>
<!-- 以下为表格内容-->
    <div>
        <div>
            <h3>购买记录</h3>
        </div>
        <div>
            <table id ="myTable" class="table table-striped table-bordered">
                <!--表格标题-->
                <thead>
                <tr>
                    <th>日期</th>
                    <th>张数</th>
                    <th>金额</th>
                    <th>详情</th>
                </tr>
                </thead>

                <!--表格内容-->
                <tbody>
                <!--<tr></tr>里是一行的内容-->
                </tbody>
            </table>
        </div>
    </div>

    <!--新增影厅的表单--->
    <div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="historyModalLabel">购买详情</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
<!--                        <div class="form-group">-->
<!--                            <label class="col-sm-2 control-label" for="hall-name-input">电影名称</label>-->
<!--                            <div class="col-sm-10">-->
<!--                                <input type="text" class="form-control" id="hall-name-input" placeholder="请输入影厅名称">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label class="col-sm-2 control-label" for="column-num-input"><span class="error-text">*</span>列数</label>-->
<!--                            <div class="col-sm-10">-->
<!--                                <input type="text" class="form-control" id="column-num-input" placeholder="请输入列数">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label class="col-sm-2 control-label" for="row-num-input"><span class="error-text">*</span>行数</label>-->
<!--                            <div class="col-sm-10">-->
<!--                                <input type="text" class="form-control" id="row-num-input" placeholder="请输入行数">-->
<!--                            </div>-->
<!--                        </div>-->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="hall-form-btn">确认</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>